canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    align-items: center;
    box-shadow: black;
}

.container{
    position: relative;
    padding-top: 5%;
}

#threeDView {
    width: 100%;
    height: 400px;
    display:none;
}